import { Component } from {quotes}@angular/core{quotes};

@Component({
    moduleId: module.id,
    selector: '{selector}',
    templateUrl: '{templateUrl}',
    styleUrls: ['{styleUrls}']
})
export class {className}Component {

}
