import { Component } from {quotes}@angular/core{quotes};

@Component({
    moduleId: module.id,
    selector: {quotes}{selector}{quotes},
    templateUrl: {quotes}{templateUrl}{quotes},
    styleUrls: [{quotes}{styleUrls}{quotes}]
})
export class {className}Component {

}
